{% load main_tags humanize %}

{% for comment in comments %}
    <div id="comment-{{ comment.pk }}" class="row mt-1">
    
        <div class="col-md-8 d-flex flex-column bg-white">
            <div class="d-inline-block pt-2">
                <a href="{% url 'user:detail' comment.user.username %}" 
                    title="{{ comment.user.username }}">
                    {% firstof user.get_full_name user.get_username %}
                    {% if comment.is_edited %} (edited){% endif %} 
                </a>
                <i class="text-body-secondary float-right">
                    {{ comment.created_date|naturalday }}
                </i>
            </div>

            <p class="card-text">
                <div class="ck-content bg-light p-1">
                    {{ comment.text|bleach_comments|safe }}
                </div>
            </p>
        </div>

        <div class="col">
            <p class="card-text mb-auto bg-white">
                <i class="btn btn-dark ml-1" 
                    hx-get="/api/get-reply-comments/{{ comment.id }}" 
                    hx-trigger="click"
                    hx-target="#ansver-to-{{ comment.id }}">
                    Відповісти
                </i>

                {% if comment.replies_count > 0 %}
                    <a href="javascript:void(0);" 
                        data-hx-get="/api/get-reply-comments/{{ comment.id }}" 
                        data-hx-trigger="click"
                        data-hx-target="#reply-comment-{{ comment.id }}"
                        onclick="toggleComments(this, '{{ comment.id }}')">
                        Відповіді <i class="bi bi-chat-right-text"> </i> 
                        {{ comment.replies_count }}
                    </a>
                {% endif %}

                {% if user.is_staff %}
                    <a href="{% url 'posts:comment_delete' comment.id %}" 
                        class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'admin:posts_postcomment_change' comment.id %}" 
                        class="btn btn-dark">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>

    <!-- <div id="reply-comment-{{ comment.id }}" 
        class="col p-4 ml-5 d-flex flex-column">
    </div> -->
{% endfor %}

<!-- <div class="" id="reply-comment-{{ comment.id }}" >
    <form class="mb-3" method="post" action="">
        {% csrf_token %}
        <input id="comment_id" name="comment_id" value="{{ comment.id }}" required hidden>
        <div class="form-group pt-3">
            <textarea class="form-control" 
                id="comment_text" 
                name="comment_text" 
                rows="2" 
                placeholder="Відповісти..."
                required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Відповісти</button>
    </form>
</div> -->
