{% extends 'base.html' %}
{% load static cache humanize main_tags posts_tags %}

{% block css %}
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" 
        content="{{ post.content|truncatechars:60|clear_tags|bleach_linkify }}" />
    {% if post.image %}
        <meta property="og:image" content="{{ post.image.url }}" />
    {% endif %}
{% endblock %}

{% block content %}

<div class="row bg-white mt-3 rounded">
    <div class="post-content col-md-9">
        <div class="card">
            <div class="row">
                {% if not post.detail_image %}
                    <div class="col-md-3">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-thumbnail" data-bs-toggle="modal"
                                data-bs-target="#imageModal1">
                        {% else %}
                            <img src="{% static 'images/not_found_image.png' %}" class="img-thumbnail">
                        {% endif %}
                    </div>
                {% endif %}
                
                <div class="col-md-7">
                    <h2 class="mt-3">{{ post.title }}</h2>
                    <p class="mt-3">
                        {% if post.user %}
                            Автор: 
                            <a href="{% url 'user:detail' post.user.username %}">
                                <b>{{ post.user.get_full_name }}</b>
                            </a>
                        {% else %}
                            <b>{{ site_main_title }}</b>
                        {% endif %}
                        
                        <a href="{% url 'posts:type' post.type.slug %}"
                            class="font-weight-bold ml-2"
                            style="color: {{ post.type.color }}">
                            {{ post.type }}
                        </a>
                        
                        <a href="#comments" 
                            class="comments-count text-dark float-right"
                            title="Коментарі: {{ post.comments.count }}">
                            <i class="bi bi-chat-right-text"></i> 
                            {{ post.comments.count }}
                        </a>
                        <a class="ml-3" 
                            title="Перегляди: {{ total_views }}">
                            👁️ {{ total_views }}
                        </a>
                    </p>
                    <p class="text-secondary">
                        {{ post.created_date|naturalday }}
                        {% if user.is_staff %}
                            <a href="{% url 'posts:delete' post.slug %}" 
                                class="btn btn-danger float-right"
                                onclick="return confirm('Ви впевнені, що хочете видалити цю публікацію?');">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a href="{% url 'admin:posts_post_change' post.id %}" 
                                class="btn btn-dark float-right">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        {% endif %}
                        
                        <i class="float-right mr-3">
                            <div class="popup share-link-copy"
                                onclick="copyShareLink()">
                                <i class="bi bi-share-fill"></i>
                                <text>Поділитися: </text>
                                <span class="popuptext" id="share-popup">Посилання скопійовано!</span>
                            </div>
                            <a href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}">
                                <i class="bi bi-facebook"></i></a>
    
                            <a href="https://x.com/intent/post?url={{ request.build_absolute_uri }}&text={{ post.title }}">
                                <i class="bi bi-twitter"></i></a>
                        </i>
                    </p>
                </div>
                
                {% if post.detail_image %}
                    <img src="{{ post.detail_image.url }}" 
                        class="img-thumbnail" 
                        data-bs-toggle="modal">
                {% endif %}
            </div>
    
            <div class="ck-content">
                {{ post.content|safe }}
            </div>

            {% if post.review_rating %}
                <div class="review-rating" 
                    style="background: {{ post.review_rating|rating_to_color }}; 
                    {% if user_agent.is_mobile %}font-size: 40px;{% endif %}">
                    {{ post.review_rating }}
                    <div class="ml-5">
                        {{ post.review_rating|rating_to_text }}
                    </div>
                </div>
                <div class="review row mt-2">
                    <div class="review-pluses col-md-6 text-right">
                        <h5>Вдалося</h5>
                        <p>
                            <i>{{ post.review_pluses|linebreaks }}</i>
                        </p>
                    </div>
                    <div class="review-minuses col-md-6 text-left">
                        <h5>Не вдалося</h5>
                        <p>
                            <i>{{ post.review_minuses|linebreaks }}</i>
                        </p>
                    </div>
                </div>
                <div class="review-genre">
                    <p class="text-center"> 
                        Жанри: |
                        Компанії: 
                    </p>
                </div>
            {% endif %}
            
            <div class="post-tags m-2 p-2 bg-light">
                <i>
                    <p class="d-inline fst-italic">
                        Рубрики: |
                        {% for topic in post.topics.all %}
                            <a href="{% url 'posts:topic' topic.slug %}"    
                                title="
                                {% if topic.description %}
                                    {{ topic.description }}
                                {% else %}
                                    {{ topic.name }}
                                {% endif %}
                                    ">{{ topic }}</a>
                                    |
                        {% endfor %}
                    </p>
                    <p>
                        Теги:
                        {% for tag in post.tags.all %}
                            <a href="{% url 'posts:tag' tag.slug %}"    
                                title="
                                {% if tag.description %}
                                    {{ tag.description }}
                                {% else %}
                                    {{ tag.name }}
                                {% endif %}
                                    "> {{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </i>
            </div>
            <div class="post-buttons m-2">
                {% with users_like=post.likes.all users_dislike=post.dislikes.all users_save=post.saves.all %}
                    <block class="post-likes ml-5 mr-3" 
                        
                        hx-get="/posts/like/{{ post.pk }}" 
                        hx-trigger="click"
                        hx-target=".post-likes">
                        {% csrf_token %}
                        <block title="{% if request.user in users_like %}
                        Зняти лайк{% else %}
                        Поставити лайк{% endif %}">
                            <i class="bi bi-plus-square{% if request.user in users_like %}-fill{% endif %}"></i>
                            {{ users_like.count }} Лайк
                        </block>
                    </block>
                    <block class="post-dislikes mr-3" 
                        hx-get="/posts/dislike/{{ post.pk }}" 
                        hx-trigger="click"
                        hx-target=".post-dislikes">
                        {% csrf_token %}
                        <block title="{% if request.user in users_dislike %}
                        Зняти дизлайк{% else %}
                        Поставити дизлайк{% endif %}">
                            <i class="bi bi-dash-square{% if request.user in users_dislike %}-fill{% endif %}"></i>
                            {{ users_dislike.count }} Дизлайк
                        </block>
                    </block>
                    <block class="post-saves btn btn-dark" 
                        title="В закладки"
                        hx-get="/posts/save/{{ post.pk }}" 
                        hx-trigger="click"
                        hx-target=".post-saves">
                        {% csrf_token %}
                        <block title="{% if request.user in users_save %}
                        Вилучити зі збережених{% else %}
                        Додати в збережені{% endif %}">
                            <i class="bi bi-bookmark{% if request.user in users_save %}-check-fill{% endif %}"></i> 
                        </block>
                    </block>
                {% endwith %}
            </div>
        </div>
    </div>

    {% with post_list=latest_posts %}
        <div class="latest_posts col-md-3 mt-4">
            <p>
                <a href="{% url 'posts:feed' %}">
                RSS стрічка новин
                </a>
            </p>
            <h4>Останні {{ post.type.name|lower }}</h4>
            {% include 'posts/_other_post_list.html' %}
        </div>
    {% endwith %}
</div>

<div class="post-comments mb-3">
    <div class="row bg-white mt-3 overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
        <div class="col d-flex flex-column position-static">
            <h4 id="comments" class="pt-3 pb-2">Коментарі {{ post.comments.count }}</h4>
            
            <form id="comment-form" method="post" action="{% url 'posts:detail' post.slug %}">
                {% csrf_token %}
                {{ form.text }}
                {{ form.media }}
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary mt-2 mb-2 mr-3">
                        Надіслати
                    </button>
                    <div id="comment-auth-warning" 
                        class="alert alert-danger mt-3 p-2" 
                        style="display: none;">
                        <a href="{% url 'users:login' %}">Увійдіть</a>, щоб написати коментар
                    </div>
                </div>
            </form>
            {% if form.text.errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ form.text.errors }}
                </div>
            {% endif %}
        </div>
    </div>
        
    {% include 'posts/_comment_tree.html' with comments=post.comments.all %}
</div>

{% with modal_image=post.image modal_title=post.title %}
    {% include '_modal_image_preview.html' %}
{% endwith %}

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('comment-form');

        if (!{% if user.is_authenticated %}true{% else %}false{% endif %}) 
        {
            form.onsubmit = function(event) {
                event.preventDefault();
                document.getElementById('comment-auth-warning').style.display = 'block';
            };
        }
    });

    function copyShareLink() {
        navigator.clipboard.writeText(window.location.href);
        var popup = document.getElementById("share-popup");
        popup.classList.toggle("show");
    }    
</script>

{% endblock %}
