{% extends 'base.html' %}
{% load static main_tags %}

{% block title %}
    <title>Про {{ site_main_title }}</title>
{% endblock %}

{% block advertisement %}
    {% include '_advertisement.html' %}
{% endblock %}

{% block content %}

<div class="bg-white p-4 mt-5 mb-5 rounded">
    <h1 class="text-center mb-4">Про {{ site_main_title }}</h1>
    <p>
        <b>{{ site_main_title }}</b> — це розважальне інтернет-видання. Пишемо про відеоігри, кіноіндустрію, мальовані історії, технології та медіа загалом.
    </p>
    <h2 class="text-center">ЯК ДОЛУЧИТИСЯ ДО {{ site_main_title|upper }}?</h2>
    <p>
        Потрібно надіслати листа на адресу 
        <i><a href="mailto:{{ support_email }}">{{ support_email }}</a></i>, у якому розповісти, які маєте навички, досвід і який проект ви хотіли би реалізувати на цьому порталі.
    </p>
    <h2 class="text-center">КОНТАКТИ</h2>
    <p>
        З питань про співпрацю звертайтесь за адресою 
        <i><a href="mailto:{{ support_email }}">{{ support_email }}</a></i>.
    </p>
</div>

{% endblock %}
