{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Тестові функції (Frontend) - {{ site_main_title }}</title>
{% endblock %}

{% block advertisement %}
    {% include '_advertisement.html' %}
{% endblock %}

{% block content %}

<div class="bg-white p-4 mt-5 mb-5 rounded">
    <h2>{{ title }}</h2>
    <p class="mb-1">Backend ядро цього вебсайту це Django {{ dj_version }}</p>
    <p>{{ db_version }}</p>
    <p>Нижче наведені тестові htmx шаблони для реалізаці різних функцій на сайті.</p>
    <hr>
    <button class="btn btn-danger"
            hx-get="/api/generate-key"
            hx-trigger="click" 
            hx-target="#key-gen">
        Згенерувати
    </button>
    <button id="key-gen" class="btn btn-success text-white ml-2"
        title="Скопіювати код"
        onclick="copyToClipboard()">NONE</button>
    <script>
        function copyToClipboard() 
        {
            var copyText = document.getElementById("key-gen").innerText;
            navigator.clipboard.writeText(copyText);
        }
    </script>
    <hr>
    <input hx-get="/api/search-posts" 
        hx-trigger="keyup changed delay:100ms" 
        hx-target=".posts-list" 
        name="q"
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Пошук..." 
        aria-label="Search">
    <div class="posts-list">
    </div>
  
    <hr>
    <div class="mt-3 bg-light" 
        hx-get="/api/datetime" 
        hx-trigger="click[ctrlKey]">
        Ctrl + LeftClick Me
    </div>
    <hr>
    <div class="mt-3 bg-light" 
        hx-get="/api/datetime/seconds/" 
        hx-trigger="load every 60s" 
        hx-target=".sec">
        Секунди: <a class="sec"></a>
    </div>
    <hr>
    <h4>Валідація</h4>
    <div>
        <label>Перевірити ім'я користувача</label>
        <input hx-get="/api/users/check_username/" 
            hx-trigger="keyup changed" 
            hx-target="#check-username" 
            name="username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Перевірити username">
        <div id="check-username" class="mt-2"></div>
    </div>
    <hr>
    <h4>Модальне вікно JS</h4>
    <button class="btn"
            hx-post="/api/datetime/"
            hx-prompt="Введіть текст (HX-Prompt)"
            hx-confirm="Ви впевнені?"
            hx-target="#response">
        Prompt Submission
    </button>
    <div id="response"></div>
    <hr>
    <h4>Модальне вікно</h4>
    <button class="btn btn-primary" 
        hx-get="/api/htmx-modal" 
        hx-target="#modals-here" 
        hx-trigger="click" 
        data-bs-toggle="modal" 
        data-bs-target="#modals-here">Open Modal</button>
    <div id="modals-here"
        class="modal modal-blur fade"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <hr>
    <div id="tabs" hx-target="#tab-contents" role="tablist"
        hx-on:htmx-after-on-load="let currentTab = document.querySelector('[aria-selected=true]');
                                currentTab.setAttribute('aria-selected', 'false')
                                currentTab.classList.remove('selected')
                                let newTab = event.target
                                newTab.setAttribute('aria-selected', 'true')
                                newTab.classList.add('selected')">
        <button role="tab" aria-controls="tab-contents" aria-selected="true" hx-get="/api/tabs/1" class="selected">Tab 1</button>
        <button role="tab" aria-controls="tab-contents" aria-selected="false" hx-get="/api/tabs/2">Tab 2</button>
        <button role="tab" aria-controls="tab-contents" aria-selected="false" hx-get="/api/tabs/3">Tab 3</button>
    </div>
    <div id="tab-contents" class="mt-3" role="tabpanel" hx-get="/api/tabs/1" hx-trigger="load"></div>
    <hr>
    <h4>Infinite Scroll</h4>
    <input class="form-control mr-sm-2"  
        hx-get="/posts/scroll/" 
        hx-trigger="keyup change" 
        hx-target=".scroll-posts" 
        value="1" 
        name="p" 
        type="number">
    <div class="scroll-posts">
    </div>
</div>

{% endblock %}
