.review-rating {
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 60px;
}

.review-pluses h5 {
    background-color: rgb(61, 205, 9);
    color: white;
    padding: 8px 25px;
    margin-bottom: 4px;
    font-size: 20px;
}

.review-pluses p {
    font-weight: bold;
}

.review-minuses h5 {
    background-color: rgb(255, 68, 26);
    color: white;
    padding: 8px 25px;
    margin-bottom: 4px;
    font-size: 20px;
}

.review-minuses p {
    font-weight: bold;
}

.review-genre {
    display: flex;
    justify-content: center;
}
